/* google font styles */
body {
    font-family: 'Lato',
        sans-serif;
    font-family: 'Open Sans',
        sans-serif;
}

/* common styles */
.container {
    max-width: 1600px;
    text-align: center;
    margin: 150px auto;
}

.title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

span {
    color: #E55473;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: 0;
    margin-top: 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


/* header styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

/* featured flowers styles */
.featured-flower {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.featured-flower-column-1 {
    padding: 110px 78px 0 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-flower-column-2 {
    padding: 117px 47px 51px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-column-3 {
    padding: 67px 75px 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-flower-link {
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
}

/* hot deal section styles */
.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 100px 400px;
    margin: 100px 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    text-align: center;
}

/* instagram section styles */
.instagram {
    margin-bottom: 100px;
}

.instagram-photo img {
    margin: 48px 25px 25px;
}

/* latest deals styles */
.latest-deals {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 287px;
    margin-bottom: 120px;
}

.latest-deals input[type="text"] {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 0 22px;
    border: 0;
    margin-right: 16px;
}

/* footer styles */
footer {
    background-color: #111010;
    text-align: center;
    padding: 128px 640px;
}

.footer-title {
    color: white;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}